.address-footer{
    text-align: center;
    padding: 40px 0;

    .company{
        font-weight: 800;
        font-size: 18px;
    }

    img{
        margin: 0 auto;
        width: 120px;
    }

    .copyright{
        margin-top: 14px;
    }
}